html{
	padding: 0px;
	margin: 0px;
}

body{
	padding: 0px;
	margin: 0px;
}


#first{
	padding: 0px;
	margin: 0px;
	background-color: green;
}

#two{
	padding: 0px;
	margin: 0px;
	background-color: blue;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}